<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auctionapp.dao.ActivityInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.auctionapp.entity.ActivityInfo">
        <id column="id" property="id" />
        <result column="activity_name" property="activityName" />
        <result column="activity_code" property="activityCode" />
        <result column="activity_type" property="activityType" />
        <result column="activity_flag" property="activityFlag" />
        <result column="start_time" property="startTime" />
        <result column="expire_time" property="expireTime" />
        <result column="lottery_num" property="lotteryNum" />
        <result column="url" property="url" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, activity_name,activity_code,activity_type,activity_flag, start_time, expire_time, lottery_num, url,status, remark, create_time, update_time, version
    </sql>

    <sql id="BaseTableName">
        activity_info
    </sql>

    <select id="getList" parameterType="com.example.auctionapp.entity.ActivityInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  <include refid="BaseTableName" />
        where 1=1
        <if test="activityName !=null and activityName !='' ">
            and activity_name LIKE '%' || #{activityName} || '%'
        </if>
        order by create_time desc
    </select>
</mapper>
