<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auctionapp.dao.AgentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.auctionapp.entity.Agent">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="nickname" property="nickname" />
        <result column="parent_id" property="parentId" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="user_id" property="userId" />
        <result column="invitation_code" property="invitationCode" />
        <result column="proportion_type" property="proportionType" />
        <result column="proportion" property="proportion" />
        <result column="parent_proportion" property="parentProportion" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, nickname, parent_id, phone, address, user_id, invitation_code, proportion_type, proportion, parent_proportion, remark, create_time, update_time, version
    </sql>

</mapper>
