<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auctionapp.dao.BadgeCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.auctionapp.entity.BadgeCustomer">
        <id column="emblem_id" property="emblemId" />
        <id column="customer_id" property="customerId" />
        <id column="beans" property="beans" />
    </resultMap>
    <update id="updateCustomerctrbBadgeBeans" parameterType="com.example.auctionapp.entity.BadgeCustomer">
        update badge_customer set beans = #{beans} where emblem_id = #{emblemId} and customer_id = #{customerId};
    </update>
    <select id="selectBadgeInfosById" resultType="com.example.auctionapp.vo.BadgeCustomerVo">
        SELECT
        c.customer_id,
        c.emblem_id,
        a.`id`,
        l.`level`,
        a.`name`,
        c.`beans`
        FROM badge_customer c
        LEFT JOIN badge_level l ON c.emblem_id = l.id
        LEFT JOIN badge a ON l.badge_id = a.id
        WHERE c.customer_id = #{id}
    </select>
</mapper>