<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auctionapp.dao.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.auctionapp.entity.Permission">
        <id column="id" property="id" />
        <result column="url" property="url" />
        <result column="name" property="name" />
        <result column="serial_no" property="serialNo" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
        <result column="code" property="code" />
        <result column="english_name" property="englishName" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, url, name, serial_no, type, pid, code, english_name, version
    </sql>

</mapper>
